
body{
    font-family: sans-serif;
}

header {
    background-color: #BF805F;
    margin: 0%;
    display: flex;
    justify-content: space-between;
    
}

 header p {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: auto;
    padding: 10px;
    gap: 12px;
    margin-right: 15px;
    margin-left: 15px;
 }

header p :hover {
    color: black;
    text-decoration: underline;
 }

div img {
width: 100%;
height: 100%;
}

h1 {

}

.colore-1 {
    background-color: #BF5787;
    display: grid;
    grid-template-columns: 7fr 1fr;
    padding: 50px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 100px;
}

.colore-2 {
    background-color: #9AB2A1;
    display: grid;
    grid-template-columns: 7fr 1fr;
    padding: 50px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 100px;
}

.colore-3 {
    background-color: #B7AA77;
    display: grid;
    grid-template-columns: 7fr 1fr;
    padding: 50px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 100px;
}

main img {
    margin: auto;
}

footer {
    background-color: #BF805F;
    color: white;
    margin: 0%;
    display: flex;
    justify-content: space-between;
}

footer p {
    display: flex;
    list-style: none;
    padding-top: 70px;
    padding-bottom: 10px;
    gap: 12px;
    margin-left: 15px;
    margin-right: 15px;
}